{%load static%}
{%load staticfiles%}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eatcha &mdash; - 나만의 고유의 맛집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

  <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FREEHTML5.CO

    Website:        http://freehtml5.co/
    Email:          info@freehtml5.co
    Twitter:        http://twitter.com/fh5co
    Facebook:       https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Animate -->

    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon -->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/earlyaccess/nanumpenscript.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
    .text1{
        font-family: 'Nanum Pen Script', cursive;
    }

    </style>


     {% block css %}
     {% endblock css %}

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>



    <script src="{% static 'csrf.js' %}"></script>
    {%block head%}
    {%endblock%}
<header>
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url "shop:list" %}" class="navbar-brand">Home</a>
    </div>
    <div id="navbar-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

            <li><a href="{% url 'shop:recommendation' %}">추천메뉴</a></li>




            <li class="hidden-sm hidden-md hidden-lg"><a href="{% url 'shop:tag' 'snu'%}">서울대입구</a>
            <li class="hidden-sm hidden-md hidden-lg"><a href="{% url 'shop:tag' 'sinchon'%}">신촌</a>
            <li class="hidden-sm hidden-md hidden-lg"><a href="/cities/">Cities</a></li>
            <li class="hidden-sm hidden-md hidden-lg"><a href="/reports/">Reports</a></li>
            <li class="hidden-sm hidden-md hidden-lg"><a href="/users/">Users</a></li>


            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">지역별 맛집<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="hidden-lg hidden-md"><a href="/blackouts/">Blackouts</a></li>
                    <li class="hidden-lg hidden-md"><a href="/tasks/">Tasks</a></li>
                    <li class="hidden-lg"><a href="/songs/">Songs</a></li>
                    <li class="hidden-lg"><a href="/testimonials/">Testimonials</a></li>
                    <li class="divider hidden-lg"></li>


                    <li><a href="{% url 'shop:tag' 'snu'%}">서울대입구</a>
                    <li><a href="{% url 'shop:tag' 'sinchon'%}">신촌</a>
                    <li><a href="/cities/">Cities</a></li>
                    <li><a href="/reports/">Reports</a></li>
                    <li><a href="/users/">Users</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
             {% if not user.is_authenticated %}
                    <li><a href="{% url 'signup' %}">회원가입</a></li>
                    <li><a href="{% url 'login' %}?next={{ request.path }}">로그인</a></li>
                    {% else %}
                    <li><a href="{% url 'shop:recommendation'%}">추천 맛집</a></li>
                    <li><a href="{% url 'profile' %}">프로필</a></li>
                    <li><a href="{% url 'logout' %}?next={{ request.path }}">로그아웃</a></li>
                    {% endif %}
        </ul>
    </div>
</div>

    </header>
    <br>
    <div class="container-fluid">
        <div>
            <div >

                <div class="col-lg-12 col-md-12 text-center">
                <h1 class = "test1"><a href="{% url "shop:list" %}">Eatcha</a></h1>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!-- END #fh5co-header -->
    {% block content %}

    {% endblock %}


    <footer id="fh5co-footer">
        <p><small>&copy; 2017. Eatcha - 고유의 맛집을 찾아서. <br> Designed by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a>  <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>
    </footer>



    </body>
</html>

