{%load static%}
{%load staticfiles%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eatcha &mdash; Free Fully Responsive HTML5 Bootstrap Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

  <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FREEHTML5.CO

    Website:        http://freehtml5.co/
    Email:          info@freehtml5.co
    Twitter:        http://twitter.com/fh5co
    Facebook:       https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Animate -->

    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon -->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/car.css' %}">

     {% block css %}
     {% endblock css %}

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>



    <script src="{% static 'csrf.js' %}"></script>
    {%block head%}
    {%endblock%}

    </head>
    <body>
        <div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'shop:list' %}">Home</a>
            <a class="navbar-brand" href="{% url 'shop:recommendation' %}">추천메뉴</a>
            <a class="navbar-brand" href="{% url 'shop:tag' 'snu'%}">서울대입구</a>
            <a class="navbar-brand" href="{% url 'shop:tag' 'sinchon'%}">신촌</a>


        </div>
    </div>
</div>
    <div id="fh5co-offcanvas">
        <a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
        <div class="fh5co-bio">
            <figure>

            </figure>
            <h3 class="heading">Manager</h3>
            <h2>피로그래밍 7th</h2>
            <br><br>
            <p>서울대학교 - 신윤기</p>
            <p>한양대학교 - 김지훈</p>
            <p>한양대학교 - 김태훈</p>
            <p>성신여자대학교 - 이지은</p>
            <ul class="fh5co-social">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
            </ul>
        </div>

        <div class="fh5co-menu">
            <div class="fh5co-box">
                <h3 class="heading">Categories</h3>
                <ul>
                    <li><a href="#">주간 랭킹</a></li>
                    <li><a href="#">지역별</a></li>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
                    <li><a href="{% url 'accounts:login' %}">로그인</a></li>
                    {% else %}
                    <li><a href="{% url 'shop:recommendation' %}">추천 맛집</a></li>
                    <li><a href="{% url 'accounts:profile' %}">프로필</a></li>
                    <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="fh5co-box">
                <h3 class="heading">Search</h3>
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Type a keyword">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END #fh5co-offcanvas -->
    <header id="fh5co-header">

        <div class="container-fluid">

            <div class="row">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <ul class="fh5co-social">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
                <div class="col-lg-12 col-md-12 text-center">
                    <big><h1 id="fh5co-logo"><a href="{% url "shop:list" %}">Eatcha</a></h1></big>
                </div>

            </div>

        </div>

    </header>
    <!-- END #fh5co-header -->
    {% block content %}

    {% endblock %}


    <footer id="fh5co-footer">
        <p><small>&copy; 2017. Eatcha - 고유의 맛집을 찾아서. <br> Designed by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a>  <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>
    </footer>



    </body>
</html>

