{% extends "shop/layout.html" %}

{%block head%}

<script>
    $(function() {
        $('.rating').click(function() {
            var score = $(this).data('score');
            if (confirm(score + "점을 주시겠습니까?") ) {
                var url = $(this).attr('href');
                $.post(url, {score: score}, function(response, status, xhr) {
                    if ( xhr.status == 200 ) {
                        alert('평점저장!');
                    }
                    else {
                        alert('오류 : ' + xhr.status);
                    }
                });
            }
            return false;
        });
    });
</script>

{%endblock%}

{% block content %}
<div class="container-fluid">
        <div class="row fh5co-post-entry">
    {% for shop in shop_list %}
            <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
                 <figure>
                <a href="{% url "shop:detail" shop.id %}"><img src="{{ shop.image.url }}" alt="Image" class="img-responsive"></a>
                </figure>
                <span class="fh5co-meta"><a href="single.html">{{shop.tags}}</a></span>
                <h2 class="fh5co-article-title"><a href="single.html">{{shop.title}}</a></h2>
                <ul>
                        <li>
                        <a href="#">{{ shop.name }}</a>

                        <span class="label label-info">{{ shop.calc_score }}</span>

                        <a href="{% url "shop:rating_new" shop.pk%}" >평점주기</a>

                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="5">
                            5점주기
                        </a>
                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="4" >
                            4점주기
                        </a>
                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="3">
                            3점주기
                        </a>
                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="2">
                            2점주기
                        </a>
                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="1">
                            1점주기
                        </a>
                    </li>
                </ul>
                <span class="fh5co-meta fh5co-date">July 27th, 2017</span>
              </article>
    {% endfor %}

            <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>

    </div>
    </div>

{% endblock %}

