{% extends "shop/layout.html" %}

{%block head%}
<style>
    .rating, .label{
  font-size:22px;
}
  
    </style>

<script>
    $(function() {
        $('.rating').click(function() {
            var score = $(this).data('score');
            if (confirm(score + "점을 주시겠습니까?") ) {
                var url = $(this).attr('href');
                $.post(url, {score: score}, function(response, status, xhr) {
                    if ( xhr.status == 200 ) {
                        alert('평점저장!');
                    }
                    else {
                        alert('오류 : ' + xhr.status);
                    }
                });
            }
            return false;
        });
    });
</script>

{%endblock%}

{% block content %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104753640-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- Hotjar Tracking Code for http://naver.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:595543,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<div class="container-fluid">
        <div class="row fh5co-post-entry">
    {% for shop in shop_list %}
            <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
                 <figure>
                <a href="{% url "shop:detail" shop.id %}"><img src="{{ shop.image.url }}" alt="Image" class="img-king"></a>
                </figure>
                <span class="fh5co-meta"><a href="single.html">{{shop.tags}}</a></span>
                <h2 class="fh5co-article-title"><a href="single.html">{{shop.title}}</a></h2>


                        <a href="#">{{ shop.name }}</a>

                        <span class="label label-info">{{ shop.calc_score }}</span>

                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="5">
                            5점
                        </a>
                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="4" >
                            4점
                        </a>
                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="3">
                            3점
                        </a>
                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="2">
                            2점
                        </a>
                        <a href="{% url "shop:rating_new" shop.pk%}" class="rating" data-score="1">
                            1점
                        </a>


                <span class="fh5co-meta fh5co-date">July 27th, 2017</span>
              </article>
    {% endfor %}

            <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>

    </div>
    </div>

{% endblock %}

