{% extends "shop/layout.html" %}

{% block content %}
<style>
.content{
    background-color:white;
    font-family: 'Nanum Pen Script', cursive;
    font-size : 24px;
}
</style>
    {% if prev_post %}
        <a href="{% url "shop:detail" prev_post.id %}?tag={{ tag }}"class="fh5co-post-prev"><span><i class="icon-chevron-left"></i> Prev</span></a>
    {% endif %}
    {% if next_post %}
        <a href="{% url "shop:detail" next_post.id %}?tag={{ tag }}"class="fh5co-post-next"><span>Next <i class="icon-chevron-right"></i></span></a>
    {% endif %}
    <!-- END #fh5co-header -->
    <div class="container-fluid">
        <div class="row fh5co-post-entry single-entry">
            <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                <figure class="animate-box">
                    <img src="{{ post.image.url }}" alt="Image" class="img-responsive">
                </figure>
                <span class="fh5co-meta animate-box">{{post.tags}}</span>
                <h2 class="fh5co-article-title animate-box">{{post.title}}</h2>
                <span class="fh5co-meta fh5co-date animate-box">July 7th, 2017</span>

                <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                    <div class="row">
                        <div class="col-lg-8 cp-r animate-box">
                            <pre class="content">{{post.content}}</pre>
                            <pre class="content">{{post.content3}}</pre>

                            <pre class="content">{{post.content2}} </pre>

                            <pre class="content">{{post.number}}</pre>
                        </div>
                        <div class="col-lg-4 animate-box">
                            <div class="fh5co-highlight right">
                                <h4>Highlight</h4>
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
                            </div>
                        </div>
                    </div>
<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var lat = {{ post.lat }};
        var lng = {{ post.lng }};
        var myLatLng = {lat: lat, lng: lng};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5L9VzTwu1-AIMiRw_vRGzyI6atflF4yI&callback=initMap">
    </script>
  </body>
</html>
                </div>
            </article>
        </div>
    </div>
{% endblock %}

